{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{# Clear messages to keep the page clean #}
{% block messages %}{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
            {% trans "Sign Out" %}
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            {% trans "Are you sure you want to sign out?" %}
        </p>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="post" action="{% url 'account_logout' %}" class="space-y-6">
            {% csrf_token %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="flex flex-col gap-3">
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    {% trans "Sign Out" %}
                </button>

                <a href="/" class="flex w-full justify-center rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 transition-all">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}