services:
  web:
    build: .
    ports:
      - 8000:8000
    volumes:
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env
    networks:
      - app-network

  db:
    image: postgres:17
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - app-network

volumes:
  postgres_db:

networks:
  app-network:
    driver: bridge