@import "tailwindcss";

@keyframes slideDownFade {
        0% { opacity: 0; transform: translateY(-20px); }
        100% { opacity: 1; transform: translateY(0); }
    }
    .msg-toast {
        animation: slideDownFade 0.4s ease-out forwards;
    }